<%= form_with model: comment do |f| %>
  <%= f.hidden_field :post_id, value: comment.post_id %>
  <div class="mb-3">
    <%= f.text_area :body, autocomplete: "name", class: 'form-control', required: true %>
  </div>
  <div class="mb-3 d-flex justify-content-end">
    <%= f.submit 'Add', class: 'btn btn-primary' %>
  </div>
<% end %>